 *,
 *:before,
 *:after 
 {
  box-sizing:border-box;
}
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	background:$midgrey;
	@media screen and (min-width:$bptablet) {
		background:lighten($midgrey,35%);
	}
}
img {
	max-width:100%;
}

div.wrapper {
	@include center();
	width:100%;
	min-width:290px;
	position:relative;
	padding:0;
	z-index:1002;
	background:lighten($midgrey,15%);
}

.contentwrapper {
	padding:0 20px;
	width:98%;
	max-width:980px;
	margin:0 auto;
	text-align:center;  
}
.alignleft {
	text-align:left;
}
.mainbody {
	background:darken($lightest,10%);
	border-left:1px solid $border;
	border-right:1px solid $border;
}
.centered {
  text-align: center;
  display:block;
  position:relative;
  margin:auto; 
}





[class*="module-"] {
	background:$lightest;
	margin-bottom:$defaultgap;
	padding:$defaultgap;
	border:1px solid $border;
	@include border-radius(5px);
  position:relative;
}








  a.lightBox {
    top: 4em;
    position: relative;
  }
  a.lightBox:hover {
    cursor: pointer;
    border-bottom: 1px dotted rgba(255,255,255,.8);
  }
  div.veil {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    z-index:39999;
  }
  div.lightBoxModal {
    background:$lightest;
    border:4px solid $border;
    @include border-radius(5px);
    padding:$defaultgap;
    text-align:center;
    top:2em;
    margin:-550px auto 0 auto;
    position:absolute;
    width:40em;
    height:20em;
    z-index:40000;
  }
  span.close {
    position:absolute;
    top:0.5em;
    right:0.5em;
    cursor:pointer;
  }
    .hideElement {
    display:none;
  }
  .showElement {
    display:block;
  }
    .blob {
    position:absolute;
    top: 3.4em;
  /*  left:-115px; */
    background: $lightest;
    width: 1em;
    height: 1em;
    border-radius: 0.7em;
     z-index:39998;
  }



ul.benefits li {
  margin-bottom:$defaultgap * 2;
  padding-left:$defaultgap * 2;
  position:relative;
}
ul.benefits li:before {
  position:absolute;
  content:"";
  width:2em;
  height:2em;
  background:darken($midgrey,15%);
  @include border-radius(1em);
  top:0;
  left:-5px;
  }
ul.benefits li:after {
  position:absolute;
  content:"+";
  color:$lightest;
  font-weight:bold;
  font-size:2em;
  top:-3px;
  left:1px;
}
.testimonial p {
  font-size:2em;
  font-style:oblique;
  padding-top:$defaultgap * 2;
  position:relative;
}
.testimonial p:before {
  position:absolute;
  content:"\"";
  top:-20px;
  left:35%;
  font-size:4em;
  font-family:"Times";
  font-style:oblique;
  }



