ul.progressbar {
 	margin:0 auto $defaultgap * 1.5 auto;
 	width:100%;
  max-width:600px;
 	text-align:center;
 	border-top:2px solid $forbes;
 	padding-top:$defaultgap / 2.8;
 	position:relative;
 }
   ul.progressbar li {
   	float:left;
  	vertical-align:top;
  	line-height:1;
    padding:0 1% 0 1%;   
    width:25%;
    min-width:5.8em;
 	  position:relative;
    font-size:0.75em;
 	@media screen and (min-width:$bpmobilelarge) {
		padding:0 6.5% 0 6.5%;
 	}
 	@media screen and (min-width:$bptablet) {
		padding:0 9% 0 9%;
 	}
  }
  ul.progressbar:before, ul.progressbar:after {
  	position:absolute;
  	content:"";
  	width:2px;
  	height:1.500em;
  	background:$forbes;
  	top:-13px;

  }
  ul.progressbar:before {
  	left:0;
  }
   ul.progressbar:after {
  	right:0;
  }
 .notstartedstep {
  	color:$forbes;
  }
  .completedstep {
  	color:$success;
  }
  .completedstep:before {
  	position:absolute;
  	content:"";
  	background:url('../images/progresstick.svg') no-repeat 98% 5%;
  	width:20px;
  	height:17px;
  	top:-25px;
    left:42%;
    right:50%;
    @media screen and (min-width:$bptablet) {
    left:55%;
    }
  }
  .activestep {
  	font-weight:bold;
  	color:$darkblue;
  	position:relative;
  }
  .activestep:before {
  	position:absolute;
  	content:"";
  	width:30px;
  	height:30px;
  	top:-31px;
    left:31%;
    right:50%;
  	background:url('../images/van.svg') no-repeat center center;
  	@media screen and (min-width:$bpmobilelarge) {
		left:38%;
  }
    @media screen and (min-width:$bptablet) {
    left:41%;
    }
  }
.termscontainer {
  @media screen and (max-width:$bptablet) {
  font-size:0.75em;
  border:1px solid $border;
  height:16em;
  overflow:scroll;
  line-height: 1.5;
  @include border-radius(5px);
}
  @media screen and (min-width:$bptablet) {
      border:none;
      height:100%;
    }
}
.termsdescription {
  @media screen and (min-width:$bptablet) {
      display:none;
    }  
}
.termsindividual {
   @media screen and (min-width:$bptablet) {
      border:1px solid $border;
      @include border-radius(5px);
      margin-bottom:$defaultgap;
      padding: 0.5em 2%;
    }   
}
.termsindividual:last-child {
     @media screen and (min-width:$bptablet) {
      margin-bottom:0;
     }
    }


label {
  margin:0 0 0 0;
  font-size:1em;
  @media screen and (min-width:$bptablet) {
  text-align:right;  
  margin-top:$defaultgap / 4;
 	float:right;
  }
}
fieldset {
  border:none;
  padding:0;

}
legend {
  @media screen and (min-width:$bptablet) {
    float:right;

   } 

}
input[type="text"], select, textarea {
 @include border-radius(5px);
  border:1px solid $border;
  width:99%;
  padding:$defaultgap / 2 3.2%;
  font-size:1.25em;
}
input[type="checkbox"] {
   @media screen and (min-width:$bptablet) {
    float:left;
   } 
}

[class*="formnav"] {
  position:relative;
  background:lighten($midgrey,33%);
  padding:$defaultgap * 2 0;
  border-top:1px solid $border;
  margin:$defaultgap 0 0 0;
}
.formnav-blank {
  position:relative;
  background:none;
  border-top:none;
  margin-top:0;
  padding-top:0;
  }
select {
	width:100%;
	color:$fontdefault;
	}
.prompt {
	background:$forbes;
	color:$lightest;
	@include border-radius(2px);
	padding:$defaultgap / 4 $defaultgap / 2;
}
.hidden {
  display: none;
}








input.main {
  background:$callout url('../images/search.svg') no-repeat 98% 5%;
  color:lighten($midgrey,20%);
  @include border-radius(5px 5px 0 0);
  padding:$defaultgap / 2 5%;
  font-size:1.5em;
  font-weight:bold;
  margin:$defaultgap / 2 0 0 0;
  width:100%;
  text-shadow:none;
}
div.discount {
  font-size:0.75em;
  border:1px solid $border;
  @include border-radius(0 0 5px 5px);
  border-top:0;

  background:lighten($discount,35%);
  color:$discount;
  text-align:center;
  font-weight:bold;
  padding:$defaultgap / 2 0;
  width:100%;
}
label.readterms {
  float:none;
  font-size:0.75em;
  font-weight:bold;
  margin-left:$defaultgap * 2;
}

input.checkboxterms {
  position:absolute;
  left:0;
  top:0;
}


input[type="text"].readonly {
  border:none;
  color:$fontdefault;
  padding-top:0;
  padding-bottom:0;
}



.form-lookup {
    padding:$defaultgap $defaultgap / 2;
}

div.terms h5 {
  font-size:0.75em;
  margin:$defaultgap / 2 0;
}

.terms p {
  font-size:0.75em;
}
p.instructive {
  font-weight:normal;
  line-height:1.25;
  margin-bottom:$defaultgap;
}
span.error {
  @media screen and (max-width:$bptablet) {
  display:block;
  }
 font-size:1.25em;
 color:$lightest;
 background:$error;
 padding:$defaultgap / 4 $defaultgap / 2;
 @include border-radius(3px 3px 3px 3px);
}
hgroup.form {
  text-align:left;
}



.mailchimpnewsletter {
  position:relative;
  font-size:1em;
    @media screen and (min-width:$bptablet) {
    font-size:0.75em;
}


}

form.mailchimpnewsletter label {
    
 font-size:1.25em;
  width:100%;
  color:lighten($midgrey,5%);
  float:none;
  display:block;
  text-align:left;
  margin-top:$defaultgap / 2;
  @media screen and (min-width:$bptablet) {
  float:left;
  width:26%;
  margin-top:$defaultgap;
}
  @media screen and (min-width:$bpdesktop) {
   width:22%;
 }
}
input.inputnewsletter {
  width:100%;
  margin:$defaultgap / 2 0;
  display:block;

  @media screen and (min-width:$bptablet) {
  width:40%;
  float:left;
  }
 @media screen and (min-width:$bpdesktop) {
  width:30%;
 }
}
input.inputenteremail {
  position:absolute;
  top:$defaultgap * 1.5;
  color:$midgrey;
  width:90%;
  margin:$defaultgap / 2 0;
  padding:$defaultgap / 3.5;
  font-size:1.25em;
  display:block;
  border:0;
  left:2%;
  @media screen and (min-width:$bptablet) {
  margin:$defaultgap / 4 0;
  width:25%;
  left:28%;
  top:$defaultgap / 2;
  padding:$defaultgap / 3;
  width:26%;
  }
  @media screen and (min-width:$bpdesktop) {
  width:25%;
  left:23%;
 }
}
a.closeprompt {
  position:absolute;
  top:-8px;
  right:$defaultgap * 1.5;
  margin-top:0;
  @media screen and (min-width:$bptablet) {
  display:block;
  position:relative;
  float:right;
  font-weight:bold;
  margin:$defaultgap * 1.5 2% 0 0;
 }
}
a.closeprompt:before {
  position:absolute;
  content:"";
    width:2em;
  height:2em;
  left:-6px;
   @include border-radius(4em);
  background:$lightest;

}
a.closeprompt:after {
  position:absolute;
  content:"X";
  color:$forbes;
  font-weight:bold;
  font-size:1em;
  top:6px; 
  left:4px;
  @media screen and (min-width:$bptablet) {
  top:5px;
  left:2px;
  }
}