
@media screen and (max-width:$bpdesktop) {
	.wrapper, nav {
		-webkit-backface-visibility:hidden;
		-webkit-perspective:1000;
	}
	.animating nav, .menu-visible nav {
		display:block;
	}
	.animating .wrapper {
		transition:transform .25s ease-in-out;
		-webkit-transition:-webkit-transform .25s ease-in-out;
	}
	.animating.left .wrapper {
		transform:translate3d(-82%,0,0);
		-webkit-transform:translate3d(-82%,0,0);
	}
	.animating.right .wrapper {
		transform:translate3d(82%,0,0);
		-webkit-transform:translate3d(82%,0,0);
	}
	.menu-visible .wrapper {
		right:82%;
	}
}
div.headermain {
	display:none;
	background:$lightest;	
	@media screen and (min-width:$bptablet) {
     display:block;
 }
}
div.headermobile {
	margin:0 auto 1em auto;
	position:relative;
	background:$lightest;
	border-bottom:2px solid $forbes;
 	box-shadow: 0 10px 6px -6px lighten($midgrey,25%);
 	height:60px;
 	text-align:left;
	padding:$defaultgap 10px;
}
div.headermobile img {
	/*width:215px; */
	vertical-align:middle;
	margin-top:2px;
	@media screen and (min-width:$bpmobilelarge) {
		width: 320px;
		margin-top:-5px;
	}
}
div.headermobile img.forbeslogo {
    max-width:70%;
}
img.forbes-90 {
    margin-top:1px;
    max-width:110px;
}
a#togglemenu {
	display:block;
	position:absolute;
	top:0;
	right:0;
	width:60px;
	height:60px;
	line-height:6em;
	background:$forbes;
	color:$lightest;
	z-index:1003;
	@media screen and (min-width:$bptablet) {
		display:none;
	}
}
nav {
 	display:none;
    position:absolute;
	top:0;
	right:0;
	width:82%;
	padding:0 0 $defaultgap 0;
	margin:0;
	list-style:none;
	background:$darkblue;
	z-index:1000;
	min-height:1500px;
	height:100vh;
	margin:auto;
	text-align:center;
@media screen and (min-width:$bptablet) {
		position:relative;
		margin:0 auto $defaultgap auto;
		padding:0;
		display:block;
		text-align:center;
		width:100%;
		background:$lightest;
		font-size:0.75em;
		z-index:4000;
		box-shadow: 0px 3px 3px lighten($midgrey,10%);
		@include linear-gradient($forbes, darken($forbes,10%));
	}
	@media screen and (min-width:$bptablet) and (max-width:$bpdesktop) {
		min-height:3.2em;
		height:3.2em;
	}
	@media screen and (min-width:$bpdesktop) {
		min-height:4em;
		height:4.07em;
 	}
}
ul#menu {
	width:100%;
	margin:auto;
	text-align:center;
	position:relative;
	display:block;
	z-index:100;
	@media screen and (min-width:$bptablet) {
		padding:0 0 0 10px;
	}
	@media screen and (min-width:$bpdesktop) {
		max-width:980px;
	}
}
ul#menu > li {
	display:block;
	width:100%;
	text-align:left;
	position:relative;
	padding:0;
	@media screen and (min-width:$bptablet) {
	float:left;
	width:auto;
	}
}
ul#menu > li:last-child {
	@media screen and (min-width:$bptablet) {
		border-right:1px solid lighten($forbes,5%);
	}
}
#menu a {
	display:block;
	&:hover {
		text-decoration:none;
	}
}







ul#menu > li > a {
	display:block;
	color:$lightest;
	margin-bottom:0;
	padding:$defaultgap $defaultgap + 2;
	border-bottom:1px solid darken($forbes,20%);
	&:hover {
	  background:darken($darkblue,5%);
 	}
	&:active {
	  background:darken($darkblue,5%);
 	}
	@media screen and (min-width:$bptablet) {
      text-shadow: 2px 2px darken($forbes,15%);
      margin-bottom:0;
      padding:$defaultgap;
      border-left:1px solid lighten($forbes,5%);
      border-bottom:0;
      @include linear-gradient($forbes, darken($forbes,10%));
      font-size:1em;
  	  font-weight:bold;
  	  &:hover {
  	  	@include linear-gradient(darken($forbes,5%), darken($forbes,15%));
	}
}
    @media screen and (min-width:$bpdesktop) {
//	padding:$defaultgap $defaultgap + $defaultgap / 4;
	padding:$defaultgap 1.12em;
	font-size:1.25em;
}
 }



ul#menu > li > a.dropdown {
	 @media screen and (min-width:$bptablet) {
		position:relative;
		 }
}

ul#menu li:hover > div.submenu {
 @media screen and (min-width:$bptablet) {
	visibility:visible;
 }
}
 div.submenu {
	z-index:150;
	font-size:1em;
/*	display:block; */
	width:100%;
	@media screen and (min-width:$bptablet) {
	float:left;
	position:absolute;
	background:$darkblue;
	z-index:150;
	display:block;
	width:100%;
	visibility:hidden;
}
	@media screen and (min-width:$bptablet) {
		left:-15px;
		padding:$defaultgap / 2 $defaultgap $defaultgap / 2 $defaultgap;
		margin-left:$defaultgap;
		z-index:-1;
		background:lighten($darkblue,10%);
		@include border-radius(0 0 5px 5px);
		width:30em;
		box-shadow: 3px 3px 3px $midgrey;
	}
	@media screen and (min-width:$bpdesktop) {
		font-size:1.25em;
	}

}

div.submenu li a {
	position:relative;
}
div.submenu li a:before {
	position:absolute;
	content:"";
	width:0.4em;
	height:0.4em;
	background:$lightest;
	left:3em;
	top:1.3em;
	@media screen and (min-width:$bptablet) {
		display:none;
		
	}
}

a.toplevel {
	position:relative;
}
a.toplevel:before {
	position:absolute;
	content:"";
	width:0.4em;
	height:0.4em;
	background:$lightest;
	left:1.3em;
	top:1.3em;
	@media screen and (min-width:$bptablet) {
		display:none;

	}
}
a.icon-home:after, .icon-dropdown:after {
	display:none;
}

@media screen and (min-width:$bptablet) {

div.submenu li {
	float:none;
	width:100%;
	display:block;
}

ul.ddleft, ul.ddright {
	float:left;
	display:block;
	text-align:left;
	display:block;
	min-height:100%;
}
ul.ddleft {
	float:left;
}
ul.ddright {
	float:right;
}
ul.ddleft li, ul.ddright li {
	display:block;
	width:100%;
}
.ddsingle {
	text-align:left;
	display:block;
	width:15em;	
}
.ddsingle ul li {
	width:100%;
	display:block;
}
div.products {
	left:-15px;

}
div.mobility, div.contact, div.professional {
	left:-15px;
	width:15.6em;
  }

}






div.submenu li a {
	display:block;
	padding:$defaultgap $defaultgap $defaultgap $defaultgap * 5;
	color:lighten($forbes,30%);
	border-bottom:1px solid darken($forbes,20%);
	position:relative;
	&:hover {
		background:lighten($darkblue,5%);
		@include border-radius(3px)
	}
	@media screen and (min-width:$bptablet) {
		padding-left:$defaultgap;
		border-bottom:0;
	}
	@media screen and (min-width:$bptablet) and (max-width:$bpdesktop) {
		font-size:1em;
	}

}



.closed {
	display:none;
}


div.headermobile p {
	display:none;
}
img.mobile-logo {
	margin:$defaultgap $defaultgap 0 $defaultgap;
	width:230px;
	max-width:230px;
	text-align:center;
	@media screen and (min-width:$bptablet) {
		display:none;
	}
}

img.forbeslogo {
	max-width:180px;
	margin-top: 0;
	@media screen and (min-width:$bptablet) {
        max-width:250px;
		margin-top:2em; /* 0.9em */
	}
}
  p.tel {
    color:lighten($fontdefault,15%);
    font-size:2.25em;
    margin-top: 0.1em;
    @media screen and (min-width:$bptablet) {
      margin:0 0 0 0;
    }
  }
  .callus {
  	position:relative;
  	color:lighten($fontdefault,15%);
  	font-style:oblique;
  	font-size:1.08em;
  	float:right;
  	 @media screen and (min-width:$bpdesktop) {
  	 }
  }





