.toggler {
	display:block;
	width:100%;
	position:relative;
	background:$lightest;
	margin-bottom:$defaultgap / 2;
	border:1px solid $border;
	@include border-radius(5px 5px 5px 5px);
}
.toggler:last-child {
	margin-bottom:0;
}
[class*="toggle-box"] {
	display:none;
	padding:0 $defaultgap $defaultgap $defaultgap * 1.75;
	font-size:1em;
	font-weight:normal;
	line-height:1.7;
}
.toggle-box-terms {
	padding-left:$defaultgap * 1.5;
}
.toggle-box-product {
	padding:0;
}
[class*="toggle-link"] {
	padding:$defaultgap / 2 $defaultgap $defaultgap / 2 $defaultgap * 1.75;
	font-size:1em;
/*	border:1px solid red; */
	display:block;
	width:100%;
	margin:0;
	color:$forbes;
	font-weight:normal;
	position:relative;
	&:hover {
		cursor:pointer;
	}
  }
  .toggle-link:before {
	position:absolute;
	content:"";
	background:$forbes;
	width:18px;
	height:18px;
	left:5px;
	top:7px;
	@include border-radius(9px);
}
.toggle-link-related {

}
.toggle-link-related {

}

.tl-related {
	@include linear-gradient(lighten($midgrey,40%), lighten($midgrey,25%));
}
.tb-related {
	border-top:0;
	background:lighten($midgrey,35%);
	padding:0;
}
.tb-related li a {
	display:block;
	border-top:1px solid $lightest;
	border-bottom:1px solid $border;
    padding:$defaultgap / 4 $defaultgap $defaultgap / 4 $defaultgap * 1.75;	
	&:hover {
		background:lighten($midgrey,30%);
	}
	@media screen and (min-width:$bptablet) and (max-width:$bpdesktop) {
		font-size:0.75em;
		padding:$defaultgap / 4 $defaultgap $defaultgap / 4 $defaultgap;	
	}
}
.tb-related li:last-child  a {
	border-bottom:none;
}
.tb-open {
	display:block;
}


a.showmore {
	font-size:0.75em;
	font-weight:bold;
	margin-left:$defaultgap / 2;
}

h6.toggle-link-terms {
	font-size:0.75em;	
}





  h6.toggle-link-terms:before {
	position:absolute;
	content:"";
	background:$forbes;
	width:14px;
	height:14px;
	left:3px;
	top:5px;
	@include border-radius(7px);
}

h6.toggle-link {
	font-size:1em;	
}
h6.toggle-terms {
	font-size:0.75em;
	padding-left:$defaultgap * 2;	
}




  h6.toggle-link:before {
	position:absolute;
	content:"";
	background:$forbes;
	width:18px;
	height:18px;
	left:3px;
	top:5px;
	@include border-radius(9px);
}
  h6.toggle-terms:before {
	position:absolute;
	content:"";
	background:$forbes;
	width:14px;
	height:14px;
	left:3px;
	top:5px;
	@include border-radius(7px);
}
.toggle-box-product {
	line-height:1;
	@media screen and (min-width:$bptablet) {
	display:block;
}
}
.toggle-box-product h2 {
	font-size:1em;
	@media screen and (min-width:$bptablet) {
	font-size:1.5em;
  }
}










