/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.2; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

strong {
  font-weight: bold; }

[class*="col-"] {
  display: block;
  padding: 10px;
  width: 100%;
  text-align: left; }

div.row {
  display: block;
  position: relative;
  margin: 0 -10px;
  margin-bottom: 0; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

@media screen and (min-width: 480px) {
  .col-1 {
    float: left;
    width: 8.33%; }

  .col-2 {
    float: left;
    width: 16.66%; }

  .col-3 {
    float: left;
    width: 25%; }

  .col-4 {
    float: left;
    width: 33.33%; }

  .col-5 {
    float: left;
    width: 41.66%; }

  .col-6 {
    float: left;
    width: 50%; }

  .col-7 {
    width: 58.33%; }

  .col-8 {
    float: left;
    width: 66.66%; }

  .col-9 {
    float: left;
    width: 75%; }

  .col-10 {
    float: left;
    width: 83.33%; }

  .col-11 {
    float: left;
    width: 91.66%; }

  .col-12 {
    float: left;
    width: 100%; }

  .columns {
    float: left;
    width: 50%; }

  .col-right {
    float: right; } }
@media screen and (max-width: 480px) {
  .col-collapsing {
    display: none; } }
@media screen and (max-width: 768px) {
  .col-collapsing-large {
    display: none; }

  .col-expanded {
    width: 100%;
    display: block; } }
.col-6-float {
  float: left;
  width: 50%; }

@media screen and (min-width: 768px) {
  .col-midblock {
    width: 100%;
    display: block; } }
*,
*:before,
*:after {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #969696; }
  @media screen and (min-width: 768px) {
    html, body {
      background: #efefef; } }

img {
  max-width: 100%; }

div.wrapper {
  margin: 0 auto;
  text-align: center;
  position: relative;
  width: 100%;
  min-width: 290px;
  position: relative;
  padding: 0;
  z-index: 1002;
  background: #bcbcbc; }

.contentwrapper {
  padding: 0 20px;
  width: 98%;
  max-width: 980px;
  margin: 0 auto;
  text-align: center; }

.alignleft {
  text-align: left; }

.mainbody {
  background: #e6e6e6;
  border-left: 1px solid #969696;
  border-right: 1px solid #969696; }

.centered {
  text-align: center;
  display: block;
  position: relative;
  margin: auto; }

[class*="module-"] {
  background: white;
  margin-bottom: 1em;
  padding: 1em;
  border: 1px solid #969696;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  position: relative; }

a.lightBox {
  top: 4em;
  position: relative; }

a.lightBox:hover {
  cursor: pointer;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.8); }

div.veil {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 39999; }

div.lightBoxModal {
  background: white;
  border: 4px solid #969696;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 1em;
  text-align: center;
  top: 2em;
  margin: -550px auto 0 auto;
  position: absolute;
  width: 40em;
  height: 20em;
  z-index: 40000; }

span.close {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  cursor: pointer; }

.hideElement {
  display: none; }

.showElement {
  display: block; }

.blob {
  position: absolute;
  top: 3.4em;
  /*  left:-115px; */
  background: white;
  width: 1em;
  height: 1em;
  border-radius: 0.7em;
  z-index: 39998; }

ul.benefits li {
  margin-bottom: 2em;
  padding-left: 2em;
  position: relative; }

ul.benefits li:before {
  position: absolute;
  content: "";
  width: 2em;
  height: 2em;
  background: #707070;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -o-border-radius: 1em;
  top: 0;
  left: -5px; }

ul.benefits li:after {
  position: absolute;
  content: "+";
  color: white;
  font-weight: bold;
  font-size: 2em;
  top: -3px;
  left: 1px; }

.testimonial p {
  font-size: 2em;
  font-style: oblique;
  padding-top: 2em;
  position: relative; }

.testimonial p:before {
  position: absolute;
  content: "\"";
  top: -20px;
  left: 35%;
  font-size: 4em;
  font-family: "Times";
  font-style: oblique; }

@media screen and (max-width: 1024px) {
  .wrapper, nav {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000; }

  .animating nav, .menu-visible nav {
    display: block; }

  .animating .wrapper {
    transition: transform .25s ease-in-out;
    -webkit-transition: -webkit-transform .25s ease-in-out; }

  .animating.left .wrapper {
    transform: translate3d(-82%, 0, 0);
    -webkit-transform: translate3d(-82%, 0, 0); }

  .animating.right .wrapper {
    transform: translate3d(82%, 0, 0);
    -webkit-transform: translate3d(82%, 0, 0); }

  .menu-visible .wrapper {
    right: 82%; } }
a#togglemenu {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  line-height: 6em;
  background: #636363;
  color: white;
  z-index: 1003; }
  @media screen and (min-width: 768px) {
    a#togglemenu {
      display: none; } }

nav {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 82%;
  padding: 0 0 1em 0;
  margin: 0;
  list-style: none;
  z-index: 1000;
  min-height: 1500px;
  height: 100vh;
  margin: auto;
  text-align: center; }
  @media screen and (min-width: 768px) {
    nav {
      position: relative;
      margin: 0 auto 1em auto;
      padding: 0;
      display: block;
      text-align: center;
      width: 100%;
      font-size: 0.75em;
      z-index: 4000; } }
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    nav {
      min-height: 3.2em;
      height: 3.2em; } }
  @media screen and (min-width: 1024px) {
    nav {
      min-height: 4em;
      height: 12.3em; } }

nav .contentwrapper {
  padding: 0;
  width: 100%; }
  @media screen and (min-width: 1024px) {
    nav .contentwrapper {
      padding: 0 20px;
      width: 90%;
      /* ? */ } }

[class*="submenu-"] {
  position: absolute;
  visibility: hidden;
  background: #4a4a4a;
  left: 0;
  width: 100%;
  z-index: 1003;
  height: 25em;
  border-top: 1px solid black;
  border-bottom: 4px solid #fcfcfc; }

.logo {
  display: none; }
  @media screen and (min-width: 768px) {
    .logo {
      display: block;
      float: left;
      max-width: 170px;
      padding: 1em 0;
      margin-right: 1em; } }
  @media screen and (min-width: 1024px) {
    .logo {
      max-width: 200px; } }

[class*="nav-"] {
  width: 100%;
  margin: auto;
  text-align: center;
  position: relative;
  display: block;
  z-index: 100; }
  @media screen and (min-width: 768px) {
    [class*="nav-"] {
      padding: 0 0 0 10px; } }

[class*="nav-"] li {
  display: block;
  width: 100%;
  text-align: left;
  /*	position:relative; */
  padding: 0; }
  @media screen and (min-width: 768px) {
    [class*="nav-"] li {
      float: left;
      width: auto; } }

[class*="nav-"] li a {
  display: block; }
  [class*="nav-"] li a:hover {
    text-decoration: none; }

[class*="nav-"] li a {
  display: block;
  color: white;
  margin-bottom: 0;
  padding: 1em 3em;
  border-bottom: 1px solid #636363; }
  @media screen and (min-width: 768px) {
    [class*="nav-"] li a {
      margin-bottom: 0;
      padding: 1em;
      border-bottom: 0; } }

@media screen and (min-width: 768px) {
  .nav-secondary {
    font-size: 0.9em;
    font-weight: bold;
    background: #969696; } }

@media screen and (min-width: 768px) {
  .links-support {
    float: right;
    width: 75%; } }

@media screen and (min-width: 768px) {
  .links-support li {
    /*	background:yellow; */ } }

@media screen and (min-width: 768px) {
  li.search {
    width: 35%; } }
@media screen and (min-width: 1024px) {
  li.search {
    width: 45%; } }

@media screen and (min-width: 768px) {
  .links-secondary {
    float: right; } }

@media screen and (min-width: 768px) {
  .links-secondary a {
    display: block;
    padding: 0.5em 2em;
    border-left: 1px solid #b0b0b0; }
    .links-secondary a:hover {
      background: #898989; } }

@media screen and (min-width: 768px) {
  .links-secondary li:last-child a {
    border-right: 1px solid #b0b0b0; } }

@media screen and (min-width: 768px) {
  .nav-support {
    font-size: 1.25em;
    background: #7d7d7d; } }

@media screen and (min-width: 768px) {
  .nav-products {
    background: #4a4a4a; } }

a.icon-dropdown {
  position: relative; }

.products-links {
  position: relative; }

@media screen and (min-width: 768px) {
  .nav-support a {
    padding: 0.5em 0; } }

li.callback, li.contact {
  position: relative; }
  @media screen and (min-width: 768px) {
    li.callback, li.contact {
      display: block;
      padding: 0.5em 0 0 1em; } }
  @media screen and (min-width: 1024px) {
    li.callback, li.contact {
      padding: 1.2em 0 0 2em; } }

li.callback:before, li.contact:before {
  position: absolute;
  content: "";
  width: 2em;
  height: 2em;
  border-radius: 4em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  -o-border-radius: 4em;
  top: 10px;
  left: 8px;
  border-radius: 6em;
  -webkit-border-radius: 6em;
  -moz-border-radius: 6em;
  -o-border-radius: 6em;
  background: #565656; }
  @media screen and (min-width: 768px) {
    li.callback:before, li.contact:before {
      top: 1.25em;
      left: -0.5em;
      width: 3em;
      height: 3em;
      border-radius: 6em;
      -webkit-border-radius: 6em;
      -moz-border-radius: 6em;
      -o-border-radius: 6em; } }

li.callback:after, li.contact:after {
  position: absolute;
  top: 16px;
  left: 14px;
  font-size: 0.75em;
  font-style: italic; }
  @media screen and (min-width: 768px) {
    li.callback:after, li.contact:after {
      font-size: 1em;
      top: 30px;
      left: 2px; } }

li.callback:after {
  content: "icon";
  color: white; }

li.contact:after {
  content: "icon";
  color: white; }

p.tel {
  font-size: 1.5em; }

[class*="links-"] {
  display: none; }
  @media screen and (min-width: 768px) {
    [class*="links-"] {
      display: block; } }

.links-products {
  display: block; }

@media screen and (min-width: 768px) {
  form.product-search {
    display: block;
    width: 90%;
    padding: 1em 0 0.5em 0;
    position: relative; } }
@media screen and (min-width: 1024px) {
  form.product-search {
    padding: 1.6em 0 0.5em 0; } }

.product-search label {
  display: block;
  color: white;
  margin-bottom: 0;
  padding: 1em 3em 0.5em 3em; }
  @media screen and (min-width: 768px) {
    .product-search label {
      display: none; } }

.product-search input[type=text] {
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -o-border-radius: 1em;
  border: 0;
  font-size: 1em;
  margin-left: 3em;
  padding: 0.66667em; }
  @media screen and (min-width: 768px) {
    .product-search input[type=text] {
      width: 100%;
      margin-left: 0;
      padding: 0.5em 0.5em;
      color: #636363; } }

@media screen and (min-width: 768px) {
  .links-products > li > a {
    font-size: 1.1em;
    padding: 1em 1em;
    border-left: 1px solid #a3a3a3; }
    .links-products > li > a:hover {
      background: #969696;
      /* Old browsers */
      background: -webkit-linear-gradient(#969696, #636363);
      /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(#969696, #636363);
      /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(#969696, #636363);
      /* For Firefox 3.6 to 15 */
      background: linear-gradient(#969696, #636363);
      /* Standard syntax */ } }
@media screen and (min-width: 1024px) {
  .links-products > li > a {
    font-size: 1.25em;
    padding: 1em 1.2em; } }

.links-products > li:last-child a {
  border-right: 1px solid #a3a3a3; }

li.search {
  padding-bottom: 1em;
  border-bottom: 1px solid #636363; }
  @media screen and (min-width: 768px) {
    li.search {
      border-bottom: 0; } }

li.contact {
  padding: 1em 3em;
  color: white;
  border-bottom: 1px solid #636363; }
  @media screen and (min-width: 768px) {
    li.contact {
      padding: 1em 0 1em 2.5em;
      border-bottom: 0; } }

a.mobile-toggle {
  display: block;
  width: 100%;
  text-align: left;
  padding: 1em 3em;
  color: white;
  border-bottom: 1px solid #636363; }
  @media screen and (min-width: 768px) {
    a.mobile-toggle {
      display: none; } }

@media screen and (min-width: 768px) {
  .links-products li:hover > [class*="submenu-"] {
    visibility: visible; } }

div.menu-column {
  float: left;
  width: 22%;
  height: 24.6em;
  text-align: left;
  margin-right: 2%;
  border-left: 1px solid #a3a3a3;
  padding: 0.5em 1em 1em 1.5em; }

div.menu-column a {
  padding-left: 0; }

div.menu-column h2 {
  padding: 0;
  font-size: 1.25em; }

div.menu-column p {
  font-size: 1em; }

div.image-category {
  display: block;
  width: 11em;
  height: 8.5em;
  margin-top: 1em;
  background: url("../images/catimage.png");
  background-size: cover;
  border: 8px solid #c9c9c9; }

/*
ul#menu {
	width:100%;
	margin:auto;
	text-align:center;
	position:relative;
	display:block;
	z-index:100;
	@media screen and (min-width:$bptablet) {
		padding:0 0 0 10px;
	}
	@media screen and (min-width:$bpdesktop) {
		max-width:980px;
	}
}
ul#menu > li {
	display:block;
	width:100%;
	text-align:left;
	position:relative;
	padding:0;
	@media screen and (min-width:$bptablet) {
	float:left;
	width:auto;
	}
}
ul#menu > li:last-child {
	@media screen and (min-width:$bptablet) {
		border-right:1px solid lighten($forbes,5%);
	}
}
#menu a {
	display:block;
	&:hover {
		text-decoration:none;
	}
}
ul#menu > li > a {
	display:block;
	color:$lightest;
	margin-bottom:0;
	padding:$defaultgap $defaultgap + 2;
	border-bottom:1px solid darken($forbes,20%);
	&:hover {
	  background:darken($darkblue,5%);
 	}
	&:active {
	  background:darken($darkblue,5%);
 	}
	@media screen and (min-width:$bptablet) {
      text-shadow: 2px 2px darken($forbes,15%);
      margin-bottom:0;
      padding:$defaultgap;
      border-left:1px solid lighten($forbes,5%);
      border-bottom:0;
      @include linear-gradient($forbes, darken($forbes,10%));
      font-size:1em;
  	  font-weight:bold;
  	  &:hover {
  	  	@include linear-gradient(darken($forbes,5%), darken($forbes,15%));
	}
}
*/
/**
 * Padding is set relative to the width
 * of the element, so here padding-top:60% is
 * a percentage of the width. This allows us 
 * to set the height as a ratio of the width
 *
 */
.module-carousel {
  width: 100%;
  position: relative;
  /*	overflow: hidden; ff */
  margin-bottom: 0;
  background: #303030;
  border-radius: 0;
  color: white;
  height: 200px; }
  @media screen and (min-width: 768px) {
    .module-carousel {
      height: 300px; } }

.carousel-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0; }

.slide a {
  color: white; }

.slide img {
  max-width: 250px !important; }

/**
 * ==========================
 * Animation styles
 * 
 * Notes:
 * 1. We use z-index to position active slides in-front 
 * of non-active slides
 * 2. We set right:0 and left:0 on .slide to provide us with
 * a default positioning on both sides of the slide. This allows 
 * us to trigger JS and CSS3 animations easily
 *
 */
.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 1em;
  right: 0;
  left: 0;
  z-index: 1;
  opacity: 0; }

.slide.active,
.slide.left,
.slide.right {
  z-index: 2;
  opacity: 1; }

/**
 * ==========================
 * JS animation styles
 * 
 * We use jQuery.animate to control the sliding animations
 * when CSS3 animations are not available. In order for
 * the next slide to slide in from the right, we need
 * to change the left:0 property of the slide to left:auto
 *
 */
.js-reset-left {
  left: auto; }

/**
 * ==========================
 * CSS animation styles
 * 
 * .slide.left and .slide.right set-up
 * the to-be-animated slide so that it can slide
 * into view. For example, a slide that is about 
 * to slide in from the right will:
 * 1. Be positioned to the right of the viewport (right:-100%)
 * 2. Slide in when the style is superseded with a more specific style (right:0%)
 *
 */
.slide.left {
  left: -100%;
  right: 0; }

.slide.right {
  right: -100%;
  left: auto; }

.transition .slide.left {
  left: 0%; }

.transition .slide.right {
  right: 0%; }

/**
 * The following classes slide the previously active
 * slide out of view before positioning behind the 
 * currently active slide
 *
 */
.transition .slide.shift-right {
  right: 100%;
  left: auto; }

.transition .slide.shift-left {
  left: 100%;
  right: auto; }

/**
 * This sets the CSS properties that will animate. We set the
 * transition-duration property dynamically via JS.
 * We use the browser's default transition-timing-function
 * for simplicity's sake
 * 
 * It is important to note that we are using CodePen's inbuilt
 * CSS3 property prefixer. For your own projects, you will need
 * to prefix the transition and transform properties here to ensure
 * reliable support across browsers
 *
 */
.transition .slide {
  transition-property: right, left, margin; }

/**
 * ==========================
 * Indicators
 *
 */
.indicators {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 4;
  padding: 0;
  text-align: center; }

.indicators li {
  width: 13px;
  height: 13px;
  display: inline-block;
  margin: 5px;
  background: #fff;
  list-style-type: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease-out; }

.indicators li.active {
  background: #898989; }

/**
 * ==========================
 * Arrows 
 *
 */
.arrow {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 45%;
  z-index: 5;
  /* border-top:3px solid $forbes;
   border-right:3px solid $forbes; */
  cursor: pointer;
  transition: border-color 0.3s ease-out; }

.icon-arrow-left {
  left: 20px;
  position: absolute; }

.icon-arrow-right {
  right: 20px;
  position: absolute; }

.icon-arrow-left:before, .icon-arrow-right:before {
  position: absolute;
  content: "";
  width: 28px;
  height: 28px;
  left: 0px;
  top: 0px;
  z-index: 0;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -o-border-radius: 14px; }

.icon-arrow-left:after, .icon-arrow-right:after {
  position: absolute;
  content: "";
  color: white;
  font-size: 1.2em; }

.icon-arrow-left:after {
  content: "<";
  top: 3px;
  left: 4px; }

.icon-arrow-right:after {
  content: ">";
  top: 5px;
  left: 6px; }

.buttonwrapper {
  width: 100%;
  display: block !important;
  margin: auto;
  text-align: center !important;
  float: left; }

.module-carousel h1 {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 0.25em;
  line-height: 1; }
  @media screen and (min-width: 480px) {
    .module-carousel h1 {
      font-size: 1.5em;
      line-height: 1.2; } }

.module-carousel h2 {
  font-size: 1em; }

.module-carousel p {
  margin-bottom: 0.2em; }

.module-carousel img {
  max-width: 110px; }
  @media screen and (min-width: 480px) {
    .module-carousel img {
      max-width: 160px; } }
  @media screen and (min-width: 768px) {
    .module-carousel img {
      max-width: 60%; } }

@media screen and (max-width: 768px) {
  .hidden-mobile {
    display: none; } }

[class*="button-"] {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  color: white;
  transition: background-color 0.2s ease;
  background-color: #969696;
  text-align: center;
  border: none; }
  [class*="button-"]:hover {
    background-color: #636363; }

.button-primary {
  font-size: 1.125em;
  display: block;
  margin: 1em 0 0 0;
  padding: 0.5em 4%;
  width: 100%; }

.ui-autocomplete {
  z-index: 10000000;
  background: #c9c9c9;
  width: 10em;
  color: #4a4a4a;
  padding: 1em;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  font-size: 0.9em;
  font-weight: bold;
  border: 3px solid #969696; }

.ui-autocomplete li {
  display: block;
  border-bottom: 1px solid #969696;
  padding: 0.5em 0; }

.ui-autocomplete li:last-child {
  border-bottom: 0; }

.ui-autocomplete a:hover {
  cursor: pointer; }

.product-search {
  position: relative; }

.product-search label {
  font-size: 20em;
  color: goldenrod;
  border: 2px solid solid red;
  z-index: 10000001;
  position: absolute; }

footer {
  padding-top: 1em;
  background: #969696;
  border-top: 4px solid #636363;
  text-align: center;
  display: block;
  clear: both; }

/*# sourceMappingURL=main.css.map */
