/* colours */

$forbes:rgb(97,160,209);
$fontdefault:rgb(102,102,102);
$lightest:rgb(255,255,255);
$midgrey:rgb(150,150,150);    
$pricepoint:rgb(24,146,0);
$success:rgb(228,175,34);
$border:rgb(204,204,204);
$help:rgb(255,115,39);
$callout:rgb(255,252,224);
$error:rgb(203,21,21);
$darkblue:rgb(34,85,138);
$special:rgb(197,29,56);
$button:rgb(82,147,202);
$discount:rgb(200,95,204);
$twitter:rgb(64,153,255);
$facebook:rgb(59,89,152);
$youtube:rgb(206,52,45);
$tumblr:rgb(28,89,143);

$productcta:rgb(248,246,246);

$christmas:rgb(220,240,238);

$fontstack:Arial,Helvetica,sans-serif;

$defaultgap:1em;

$bpmobile:320px;
$bpmobilelarge:480px;
$bptablet:768px;
$bpdesktop:1024px;
