$fontstack:Arial,Helvetica,sans-serif;

$lightest:rgb(255,255,255);
$midgrey:rgb(150,150,150); 

$defaultgap:1em;
$border:rgb(150,150,150);
$bpmobile:320px;
$bpmobilelarge:480px;
$bptablet:768px;
$bpdesktop:1024px;

$secondary:rgb(195,214,0);
$support:rgb(0,117,101);
$products:rgb(213,118,60);

$button:rgb(150,150,150);



